<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>39704164870-t615jtkc8gv5t9bohng1u3sfk9jgpjuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39704164870-t615jtkc8gv5t9bohng1u3sfk9jgpjuh</string>
	<key>API_KEY</key>
	<string>AIzaSyCNR1vONeMiwDughuRdVVO-KgTZidZCkaI</string>
	<key>GCM_SENDER_ID</key>
	<string>39704164870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.mikiya.tadano.AdMobtest</string>
	<key>PROJECT_ID</key>
	<string>admobtest-c58a4</string>
	<key>STORAGE_BUCKET</key>
	<string>admobtest-c58a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39704164870:ios:75a8a9c860848a62</string>
	<key>DATABASE_URL</key>
	<string>https://admobtest-c58a4.firebaseio.com</string>
</dict>
</plist>